@model QuanLyVanBang.Models.ChucVu

@{
    ViewData["Title"] = "Chi tiết chức vụ";
}

<h1>Chi tiết chức vụ</h1>

<div>
    <dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.TenChucVu)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.TenChucVu)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.KiHieu)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.KiHieu)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.MoTa)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.MoTa)</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaChucVu" class="btn btn-warning">Sửa</a>
    <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
</div> 